# Dependencies
node_modules

# Build outputs
dist

# Environment variables
.env
.env.*
!.env.example

# Turbo
.turbo

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store

# Debug logs
npm-debug.log*
pnpm-debug.log*

# Test coverage
coverage

# Misc
*.pem

docs/
ai/